@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";


body {
  overflow-x: hidden;
  background: #f0f3f4;
  height: 100%;
}

*:focus {
  outline: 0!important;
}

.wrapper {
  padding: 15px;
}

.bg-dark {
  color: #a6a8b1;
  background: #3a3f51;

  .nav > li > a {
    color: #b4b6bd;

    &:hover {
      color: #000;
    }
  }
}

.app-wrapper {
  position: relative;
  height: auto;
  min-height: 100%;
}

.app-header {
  z-index: 2000;
  border: none;

  .navbar-brand {
    color: #eaebed !important;
  }

  @media (min-width: $screen-sm-min ) {
    width: 200px;
  }

  button {
    padding: 10px 17px;
    font-size: 16px;
    line-height: 30px;
    text-decoration: none;
    background-color: transparent;
    border: 0;
  }
}

.app-sidebar {
  display: block;
  float: left;
  width: 200px;

  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    width: inherit;
    background-color: inherit;
    border: inherit;
    content: "";
  }

  @media ( max-width: $screen-sm ) {
    //float: none;
    width: 0;
    display: block !important;
    overflow: hidden;

    transition: width .2s ease;

    .show-sidebar  & {
      position: fixed;
      top: 50px;
      padding-top: 20px;
      bottom: 0;
      z-index: 1010;
      width: 60%;
      overflow-x: hidden;
      overflow-y: auto;
      visibility: visible;
      webkit-overflow-scrolling: touch;
    }
  }

  .header {
    color: #FFF;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
  }

  .separator {
    background-color: #2e3344;
    width: 100%;
    height: 2px;
    margin: 15px 0 10px 0;
    overflow: hidden;
    font-size: 0;
  }

  .nav {
    min-width: 200px;

    > li > a {
      padding: 5px 15px;
    }
  }
}


.app-content {
  margin-top: -60px;
  margin-left: 200px;

  @media (max-width: $screen-sm - 1) {
    margin-left: 0;
    margin-top: 0;

    transition: transform .2s ease;

    .show-sidebar & {
      position: fixed;
      top: 60px;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1015;
      width: 100%;
      overflow: hidden;
      background-color: #f0f3f4;
      transform: translate3d(60%,0,0);
      backface-visibility: hidden;
    }
  }

}


.panel {
  .table-responsive .table {
    tbody tr td,
    thead tr th {
      border-top: 1px solid #eaeff0;
    }
  }
}

.panel-heading {

  .panel-default & {
    background-color: #f6f8f8;
  }

  font-size: 18px;
  font-weight: 300;
}

.panel-footer {

  background-color: #fff;

  .text-muted {
    margin: 8px 0;
    font-size: 12px;
  }

  .pagination {
    margin: 0;
  }
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #fafbfc;
}
