@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";


body {
  overflow-x: hidden;
}

.bg-dark {
  color: #a6a8b1;
  background: #3a3f51;

  .nav > li > a {
    color: #b4b6bd;

    &:hover {
      color: #000;
    }
  }
}

.app-wrapper {
  position: relative;
  height: auto;
  min-height: 100%;
}

.app-header {
  .navbar-brand {
    color: #eaebed !important;
  }
}

.app-sidebar {
  display: block;
  float: left;
  width: 200px;

  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    width: inherit;
    background-color: inherit;
    border: inherit;
    content: "";
  }

  @media ( max-width: $screen-sm ) {
    float: none;
  }

  .header {
    color: #FFF;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
  }

  .separator {
    background-color: #2e3344;
    width: 100%;
    height: 2px;
    margin: 15px 0 10px 0;
    overflow: hidden;
    font-size: 0;
  }

  .nav > li > a {
    padding: 5px 15px;
  }

}


.app-content {
  margin-left: 200px;

  background: rgb(240, 243, 244);

  @media ( max-width: $screen-sm ) {
    margin-left: 0;
  }
}
